@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&family=Open+Sans&display=swap');

/* common */

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1C2A39;
}

.wrapper {
    position: relative;
    max-width: 1440px;
    position: relative;
    margin: auto 100px auto 100px;
    height: auto;
}

.btn {
    border: 2px solid #4C3DB2;
    background: none;
    text-transform: uppercase;
    width: 176px;
    height: 45px;
    font-size: 8px;
    color: #4C3DB2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(205, 205, 205);;
}

.btn:active {
    background-color: rgb(130, 130, 130);
}

li {
    list-style-type: none;
}

.main {
    position: relative;
    top: 150px;
}
/* common */
/* header */

.header-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    max-width: 1440px;
    z-index: 3;
    left: 0px;
    right: 0px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}

.link-wrapper {
    column-gap: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


.link-wrapper li {
    display: inline-block;
}

.link-wrapper__item {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
}

.icon-wrapper {
    display: flex;
    column-gap: 40px;
}
.bag-count {
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 55px;
    width: 12px;
    color: white;
    background-color: #FF353A;
    border-radius: 30px;
    font-size: 10px;
    text-align: center;
}

/* header */
/* slider */

.slider-wrapper {
    text-align: center;
}
.slider {
    text-align: center;
    margin-bottom: 20px;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-page-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 100px;
}

.slider-page-item:hover {
    cursor: pointer;
}

.dot-page-active {
    opacity: 100%;
}

.dot-page-disable {
    opacity: 50%;
}

.stiker-1 {
    width: 149px;
    height: 204px;
    background-color: #9E98DC;
    position: absolute;
    top: 119px;
    right: -53px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    flex-wrap: wrap;
    padding: 10px;
}

.stiker-2 {
    width: 158px;
    height: 273px;
    background-color: #FF8FE6;
    position: absolute;
    top: 432px;
    right: -200px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    flex-wrap: wrap;
    padding: 10px;
}
.stiker-text {
    overflow-wrap: break-word;
}
.stiker-arrow {
    width: fit-content;
}
/* slider */
/* content */

.main-content-wrapper {
    margin-left: auto;
    width: max-content;
    text-align: center;
}

.card-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 424px 424px;
    column-gap: 70px;
    row-gap: 90px;
    margin-bottom: 80px;
    justify-content: end;
    width: fit-content;
    z-index: 1;
}

.card-wrapper__item {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.card-wrapper__item-description-wrapper {
    text-align: left;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
}   

.card-wrapper__item-description-wrapper .autor {
    font-size: 10px;
    color: #5C6A79;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.card-wrapper__item-description-wrapper .name {
    font-size: 16px;
    color: #1C2A39;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.card-wrapper__item-description-wrapper .rating-wrapper {
    margin-bottom: 10px;
}

.card-wrapper__item-description-wrapper .desctioption {
    display: block;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    max-height: 48px; /* максимальная высота в 3 строки */
    word-wrap: break-word;
}

.card-wrapper__item-description-wrapper .price {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.rating-star-wrapper {
    margin-right: 5px;
    margin-bottom: 10px;
}

.card-wrapper__item-img {
    height: 327px;
    width: 212px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.item-to-cart-btn {
    bottom: 10px;
}
/* content */
/* sidebar*/

.sidebar {
    position: absolute;
    top: 1140px;
    background-color: #EFEEF6;
    width: 40%;
    max-width: 700px;
    z-index: 0;
}

.sidebar-wrapper  {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    padding-left: 0px;
    font-weight: 500;
}

.sidebar-wrapper__item:hover {
    cursor: pointer;
}

.active {
    font-weight: 700;
    list-style-type: disc;
}
/* sidebar*/